/* This css file is responsible for all the styles on all my web pages. I reused a lot of the same style as my web pages are similar.*/

body{
    font-family: 'Times New Roman', Times, serif;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    width: 35%;
    border: 5px solid black;
}

.navbar{
    box-sizing: border-box;
    background-color: darkslategray;
    transition: 0.2s;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
}

.navbar a{
    display: inline;
    margin-top: 75px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: medium;
    color:white;
    float: right;
    text-align: center;
    text-decoration: none;
}

.navbar p {
    display: inline;
    margin-top: 75px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: medium;
    color:white;
    float: right;
    text-align: center;
    text-decoration: none;
}

.navbar a:hover{
    background-color: slategrey;
}

.navbar h1{
    display: inline-flex;
    padding: 10px;
    background-color: rgba(255, 0, 0, 0.3);
    color:white;
}

.textdiv{
    margin-left: 5%;
    margin-right: 5%;
}

.summary_div{
    margin-top: 150px;
    margin-left: 5%;
    margin-right: 5%;
}