{% load static %}
<!DOCTYPE html>
<html>
    
<head>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Personal_Site</title>
</head>
<body>
    <div class="navbar">
        <h1>Rute Berehe</h1>
        <a href="/posts">Posts</a>
        <p>| |</p>
        <a href="/summary">Professional Summary</a>
        <p>| |</p>
        <a href="/">Home</a>
    </div>

    <img src="{% static 'images/Rute_Picture.jpg' %}" alt="Picture of Me" class="center">
    <div class = "textdiv">Hello!
    <br>
    <br>
        My name is Rute Berehe and I am from Addis Ababa, Ethiopia. Ethiopia is in the Eastern part of Africa, near the horn. Addis Ababa is the capital city of Ethiopia. Ethiopia is a beautiful country with unique and diverse cultures. The culture is very rich, and the people are very welcoming and kind. I lived there most of my life. I moved to the United States when I was in High school for a better opportunity with education. Coming to the United States was a great opportunity for me but it came with a mountain of challenges. I got thrown in with a huge language barrier and came out fluent. It taught me to adapt to new challenges and changes. It gave me the confidence to face anything that comes in my way. These changes gave me opportunities to meet many wonderful people who have blessed my life and appreciate more of what I have. 
    <br>
    <br>
        I am currently a student at Brigham Young University - Idaho, pursuing Bachelor's in Computer Science. Through my education I have gained a knowledge of C++, Python, HTML, CSS, JavaScript, Markdown, Data structures, Data Science Programming, Clojure, and Multiprocessing. I also have a proficient knowledge of, Multivariable Calculus, Physics, CAD, Trigonometry, Electrical Engineering and Astronomy. In my school years I have learned to work hard, to never quit, to stick to my goals and to take on new challenges. I love solving problems and learning new things. I seek to help others and live to serve those around me. 
    <br>
    <br>
        I am hoping to gain experience working in a tech company as a software engineer after I receive my bachelor’s degree. I am also hoping to get my master’s in aerospace engineering in the future. I would also love to run a company someday and inspire others. More than anything, I want to be an example to others and make a difference in the world. 
    <h2>Leave a Comment</h2>
    <form method='post'>
        <table>
            {{ form }}
        </table>
        {% csrf_token %}

        <button type="submit">
        Post
        </button>
    </form>
    </div>
</body>
</html>