{% load static %}
<!DOCTYPE html>
<html>
    
<head>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Personal_Site Posts</title>
</head>
<body>
    <div class="navbar">
        <h1>Rute Berehe</h1>
        <a href="">Posts</a>
        <p>| |</p>
        <a href="/summary">Professional Summary</a>
        <p>| |</p>
        <a href="/">Home</a>
    </div>
    <div class = "summary_div">
        {% for post in posts %}
        <div>
            <h1>
                {{ post.title }}
            </h1>
            <p>
                Posted: {{ post.date_posted }}
            </p>
            <p>
                {{ post.body }}
            </p>
            <hr>
        </div>
        {% endfor %}
        <form method='post'>
            <table>
                {{ form }}
            </table>
            {% csrf_token %}

            <button type="submit">
            Post
            </button>
        </form>
    </div>  
</body>
</html>