{% load static %}
<!DOCTYPE html>
<html>
    
<head>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Personal_Site Work Summary</title>
</head>
<body>
    <div class="navbar">
        <h1>Rute Berehe</h1>
        <a href="/posts">Posts</a>
        <p>| |</p>
        <a href="/summary">Professional Summary</a>
        <p>| |</p>
        <a href="/">Home</a>
    </div>

    <div class="summary_div">
    <h2>Professional Summary</h2>
        Highly motivated and positive Computer Science student with great organizational and communication skills. Efficient problem solver both with school assignments and in the workplace. Provide thorough answers and solutions and provide an exceptional customer experience. Works hard for all opportunities that come and has a strong will. Does not quit when situations get tough. Possess great warm personality and a strong desire to help people. Willing to learn many new skills and keep growing. Seeks leadership roles when opportunity arises.
    <br>
    <hr>
    <h2>Skills</h2>
        <p>Amharic, English, C++, Python, HTML, CSS, JavaScript, Multiprocessing, Data Structures, Markdown, SQL Database, Clojure, Data Science Programming, SolidWorks Modeling, Customer Service, Managerial/Leadership, Help desk support, Guided Tours, Cashier, Exam Proctor, Working under pressure, Excellent Communication Skills, enjoys working with people, Dependable, Hardworking, Team player, Driven, Friendly demeanor and personality, and Desire to learn new things.</p>
    <hr>
    <h2>Work History</h2>
        <h3>
            Brigham Young University – Idaho, <br>
            David O. McKay Library <br>
            Library Student Lead/Library Student Aide <br>
            <i>
            Rexburg, Idaho - 03/2019 – 04/2021
            </i>
        </h3>
        <hr>
        <ul>
            <li>Lead a team of 9 student aide’s and communicated any policy changes or answered team’s questions/concerns</li>
            <li>Managed team’s schedule of daily tasks to ensure tasks of higher priority were finished</li>
            <li>Contributed to admin council meetings with suggested improvements, observations and concerns</li>
            <li>Maintained accurate records and confidentiality of library book and periodical inventory</li>
            <li>Assisted patrons with library's computers and provided information on logging onto Internet</li>
            <li>Closely monitored front desk visitors to maintain secure and clean environment</li>
            <li>Showed average of 30 patrons per day where to find library resources and collected equipment, reference pieces and other items</li>
            <li>Kept library shelves and printed materials well-stocked and organized according to established system</li>
            <li>Used database to research, gather, analyze and present data</li>
        </ul>
        <h3>
            Brigham Young University – Idaho, <br>
            David O. McKay Library <br>
            Printing Press Tour Guide <br> 
            <i>
            Rexburg, Idaho - 09/2019 – 12/2020
            </i>
        </h3>
        <hr>
        <ul>
            <li>Prepared and operated offset printing press </li>
            <li>Provided tours to average 40 people per day</li>
            <li>Instructed patrons how to operate press for demo</li>
            <li>Ensured proper closing procedure was followed at end of day</li>
        </ul>
        <h3>
            Brigham Young University – Hawaii, <br>
            University Cafeteria - Cashier <br>
            <i>
            Laie, Hawaii - 09/2017 - 06/2018
            </i>
        </h3>
        <hr>
        <ul>
            <li>Counted cash in register drawer at beginning and end of shift</li>
            <li>Restocked, arranged and organized merchandise in front lanes to drive product sales</li>
            <li>Processed average of 300 POS transactions, including checks, cash and credit purchases or refunds</li>
            <li>Prepared artistic menu boards highlighting current specials and promotions using eye-catching decorative techniques</li>
            <li>Displayed friendly, outgoing and energetic behavior to create warm, fun atmosphere for guests</li>
            <li>Answered customer questions and pointed individuals in right directions to meet current desires</li>
        </ul>
        <hr>
        <h3>
            Weber State University, <br>
            University Groundskeeping Landscaper <br>
            <i>
            Ogden, UT - 05/2017 - 08/2017
            </i>
        </h3>
        <ul>
            <li>Maintained grounds including trimming, weeding and general clean-up</li>
            <li>Mixed and sprayed fertilizers, herbicides and insecticides onto shrubs, trees and grass to maintain soil fertility and defend against weeds and insects</li>
            <li>Diagnosed problems with equipment and performed regular maintenance to keep equipment functional and durable</li>
            <li>Enhanced visibility and improved shapes of trees and bushes with proper pruning</li>
        </ul>
        <h2>Leave a Comment</h2>
        <form method='post'>
            <table>
                {{ form }}
            </table>
            {% csrf_token %}
    
            <button type="submit">
            Post
            </button>
        </form>
    </div>
    
</body>
</html>